<div class="vertical-container">
    @if (ViewBag.Message != null)
    {
        <div class="cute-card page-sizer horizontal-container">
            <div class="">@ViewBag.Message</div>
            <button class="ui-icon-button" onclick="this.parentElement.remove()">
                <img class="ui-icon-img" src="/res/x.ico" />
            </button>
        </div>
    }
    <form class="cute-card page-sizer vertical-container" action="/Categories/New/" method="post">
        <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
        <div class="vertical-container">
            <label class="">Name</label>
            <input class="cute-subcard content-sizer" type="text" name="category.Name" />
        </div>
        <div class="vertical-container">
            <label class="">Description</label>
            <input class="cute-subcard content-sizer" type="text" name="category.Description" value="Placeholder" />
        </div>
        <button class="cute-subcard content-sizer" type="submit">Done</button>
    </form>
    @for (int index = 0; index < ViewBag.Categories.Count; index++)
    {
        <div class="cute-card page-sizer vertical-container">
            <form class="" action="/Items/@ViewBag.Categories[index].Name/" method="post">
                <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
                <button class="cute-subcard content-sizer" type="submit">@ViewBag.Categories[index].Name</button>
            </form>
            <div class="cute-subcard content-sizer">@ViewBag.Categories[index].Description</div>
            <form class="" action="/Categories/Delete/@ViewBag.Categories[index].Name/" method="post">
                <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
                <button class="cute-subcard content-sizer" type="submit">Delete</button>
            </form>
            <button class="cute-subcard content-sizer" onclick="MakeEditCategory(this, '@ViewBag.Password', '@ViewBag.Categories[index].Name', '@ViewBag.Categories[index].Description')">Edit</button>
        </div>
    }
</div>
