<div class="vertical-container">
    <div class="cute-card page-sizer vertical-container">
        <div class="">Category: @ViewBag.ItemCategoryName</div>
        <form class="" action="/Categories/" method="post">
            <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
            <button class="cute-subcard content-sizer" type="submit">Back to categories</button>
        </form>
        <div class="">Item: @ViewBag.ItemName</div>
        <form class="" action="/Items/@ViewBag.ItemCategoryName/" method="post">
            <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
            <button class="cute-subcard content-sizer" type="submit">Back to items</button>
        </form>
    </div>
    @if (ViewBag.Message != null)
    {
        <div class="cute-card page-sizer horizontal-container">
            <div class="">@ViewBag.Message</div>
            <button class="ui-icon-button" onclick="this.parentElement.remove()">
                <img class="ui-icon-img" src="/res/x.ico" />
            </button>
        </div>
    }
    <form class="cute-card page-sizer vertical-container" action="/Subitems/New/@ViewBag.ItemName/@ViewBag.ItemCategoryName/" method="post">
        <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
        <input class="hidden-item" type="text" name="subitem.ItemName" value="@ViewBag.ItemName" />
        <input class="hidden-item" type="text" name="subitem.ItemCategoryName" value="@ViewBag.ItemCategoryName" />
        <div class="vertical-container">
            <label class="">Name</label>
            <input class="cute-subcard content-sizer" type="text" name="subitem.Name" />
        </div>
        <div class="vertical-container">
            <label class="">Description</label>
            <input class="cute-subcard content-sizer" type="text" name="subitem.Description" value="Placeholder" />
        </div>
        <button class="cute-subcard content-sizer" type="submit">Done</button>
    </form>
    @for (int index = 0; index < ViewBag.Subitems.Count; index++)
    {
        <div class="cute-card page-sizer vertical-container">
            <div class="cute-subcard content-sizer title">@ViewBag.Subitems[index].Name</div>
            <div class="cute-subcard content-sizer">@ViewBag.Subitems[index].Description</div>
            <form class="" action="/Subitems/Delete/@ViewBag.ItemName/@ViewBag.ItemCategoryName/@ViewBag.Subitems[index].Name/" method="post">
                <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
                <button class="cute-subcard content-sizer" type="submit">Delete</button>
            </form>
            <button class="cute-subcard content-sizer" onclick="MakeEditSubitem(this, '@ViewBag.ItemName', '@ViewBag.ItemCategoryName', '@ViewBag.Password', '@ViewBag.Subitems[index].Name', '@ViewBag.Subitems[index].Description')">Edit</button>
        </div>
    }
</div>
