<div>
    <div>
        <form action="/Categories/" method="post">
            <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
            <button type="submit">Back to categories</button>
        </form>
        <p>Category: @ViewBag.CategoryName</p>
    </div>
    @if (ViewBag.Message != null)
    {
        <div>
            <div>@ViewBag.Message</div>
            <button onclick="this.parentElement.remove()">
                <img src="/res/x.ico" />
            </button>
        </div>
    }
    <form action="/Items/New/@ViewBag.CategoryName/" method="post">
        <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
        <input class="hidden-item" type="text" name="item.CategoryName" value="@ViewBag.CategoryName" />
        <div>
            <label>Name</label>
            <input type="text" name="item.Name" />
        </div>
        <div>
            <label>Description</label>
            <input type="text" name="item.Description" value="Placeholder" />
        </div>
        <button type="submit">Done</button>
    </form>
    @for (int index = 0; index < ViewBag.Items.Count; index++)
    {
        <div>
            <form action="/Subitems/@ViewBag.Items[index].Name/@ViewBag.Items[index].CategoryName/" method="post">
                <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
                <button type="submit">@ViewBag.Items[index].Name</button>
            </form>
            <div>@ViewBag.Items[index].Description</div>
            <form action="/Items/Delete/@ViewBag.CategoryName/@ViewBag.Items[index].Name/" method="post">
                <input class="hidden-item" type="password" name="Password" value="@ViewBag.Password" />
                <button type="submit">Delete</button>
            </form>
            <button onclick="MakeEditItem(this, '@ViewBag.CategoryName')">Edit</button>
        </div>
    }
</div>
